<%= form_for(@cabin, :html => { :role => "form" }) do |f| %>
  <p>
  <%=f.label :tipo  %>
  <%=f.text_field :tipo %>
  </p>
  <p>
  <%=f.label :name %>
  <%=f.text_field :name %>
  </p>
  <%=f.submit %>
<% end %>
