<div class="container">
<div class="row">
  <div class="col-sm-4">
    <h3>Todas las Cabañas</h3>
  </div>
  <div class="col-md-4">
    <%= link_to 'Agregar', new_cabin_path, remote: true, :class => 'btn btn-primary btn-xs' %>
  </div>
</div>
<table class="table table-bordered">
  <tr>
    <th>Tipo</th>
    <th>Nombre</th>
  </tr>

  <% @cabins.each do |cabin| %>
    <tr>
      <td><%= cabin.tipo %></td>
      <td><%= cabin.name %></td>
      <td><%= link_to 'Ver', cabin_path(cabin), :class  => 'btn btn-info' %></td>
      <td><%= link_to 'Reserva', new_cabin_reservation_path(cabin), :class => 'btn btn-info'  %></td>
      <td><%= link_to 'Editar', edit_cabin_path(cabin), remote: true, :class => 'btn btn-warning'%></td>
      <td><%= link_to 'Mercados', market_path(cabin), :class  => 'btn btn-info' %></td>
      <td><%= link_to 'Borrar', cabin, :class => 'btn btn-danger',
                      method: :delete,
                      data: { confirm: '¿Estás seguro?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Pagina Inicio', root_path, :class => 'btn btn-info' %>
</div>

