<table>
    <thead>
      <tr>
        <th>tipo</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <%@cabins.each do |cabin| %>
        <tr>
          <td><%= cabin.description %></td>
          <td><%= cabin.tipo %>
          <%= link_to 'ver', cabin_path(cabin) %>
          <%= link_to 'edit', edit_cabin_path(cabin) %>
          <%= link_to 'ELIMINAR', cabin_path(cabin),
                method: :delete,
                      data: {confirm: '¿Estas seguro?'} %> </td>
        </tr>
      <% end %>
    </br>

    </tbody>
</table>
</br>
<%= link_to 'Nueva Cabaña', new_cabin_path %>
