<div class="row">
  <div class="text-center col-md-12">
<h2>Registrarse</h2>

<%= form_for [@user] do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li  class="alert alert-danger" role="alert"><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="field">
    <%= f.label :Correo %></br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_Contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <p>
  <%=f.label :Rol %></br>
  <%=f.select :rol, options_for_select([
    ["Seleccione Rol", ""],
    "Admin",
    "Assistant",
    "User"]),
    {}, { class: "form form-group " } %>
  </p>

  <div class="actions">
    <div class="col-md-12 py-5"><%=f.submit :Registrarse, :class => 'btn btn-info'%></div>
  </div>
<% end %>
</div>
</div>
