<%= form_for(@customer, url: new_reservation_path, :html => { :role => "form" }) do |f| %>
  <p>
  <%=f.label :first_name  %>
  <%=f.text_field :first_name %>
  </p>
  <p>
  <%=f.label :last_name %>
  <%=f.text_field :last_name %>
  </p>
  <p>
  <%=f.label :rut  %>
  <%=f.text_field :rut %>
  </p>
  <p>
  <%=f.label :email %>
  <%=f.text_field :email %>
  </p>
  <p>
  <%=f.label :address  %>
  <%=f.text_field :address %>
  </p>
  <p>
  <%=f.label :phone %>
  <%=f.text_field :phone %>
  </p>
    <%= f.fields_for :reservations do | reservation | %>
      <div class="reservations_fields">
        <div class="fields">
          <%= reservation.hidden_field :cabin_id, :value => @cabin.id %>
          <p>
          <%= reservation.label :start_date, "Fecha de comienzo" %><br>
          <%= reservation.date_field :start_date %>
          </p>
          <p>
          <%= reservation.label :end_date, "Fecha de termino" %><br>
          <%= reservation.date_field :end_date %>
        </p>
        </div>
      </div>
    <% end %>
  <%=f.submit %>
<% end %>
