<div class="container">
<div class="row">
  <div class="col-sm-4">
    <h3>Clientes</h3>
  </div>
</div>
<table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Rut</th>
    <th>Correo</th>
    <th>Dirección</th>
    <th>Teléfono</th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td> <%= customer.first_name %> </td>
      <td> <%= customer.last_name %> </td>
      <td> <%= customer.rut %> </td>
      <td> <%= customer.email %> </td>
      <td> <%= customer.address %> </td>
      <td> <%= customer.phone %>
      <%if can? :create, @user%>
      <td><%= link_to 'Ver', customer_path(customer), :class  => 'btn btn-info' %></td>
      <td><%= link_to 'Editar', edit_customer_path(customer), remote: true, :class => 'btn btn-warning'%></td>
      <td><%= link_to 'Borrar', customer, :class => 'btn btn-danger',
                      method: :delete,
                      data: { confirm: 'Eliminar' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<div>
  <%if can? :create, @user%>
    <%= link_to 'Nuevo Cliente', new_customer_path, remote: true, :class => 'btn btn-primary btn-xs' %>
    <%end%>
<%= link_to 'Pagina Inicio', root_path, :class => 'btn btn-info'%>

</div>
