<h1>Customer#show</h1>
<p><%= @customer.first_name %></p>
<p><%= @customer.last_name %></p>
<p><%= @customer.rut %></p>
<p><%= @customer.email %></p>
<p><%= @customer.address %></p>
<p><%= @customer.phone %></p>
<%= link_to 'volver', customers_path %>
