<div class="container">
  <h1>Reserva</h1>
  <p class= "font-weight-light">La reserva se considera por noche. </p>
  <p class= "font-weight-light">Es decir se considera desde el medio dia de la fecha de inicio, hasta el medio dia del dia de la fecha de termino.</p>
  <%= form_for [@cabin,@reservation]  do |f| %>
  <% if @reservation.errors.any? %>
      <div id="error_explanation">

        <ul>
          <% @reservation.errors.full_messages.each do |msg| %>
            <li  class="alert alert-danger" role="alert"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @cabin.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@cabin.errors.count, "error") %>
          </h2>
          <ul>
            <% @cabin.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <p>
      <%=f.label :'Fecha de Ingreso'  %></br>
      <%= f.date_field :start_date %>
    </p>
    <p>
      <%=f.label :'Fecha de Salida' %></br>
      <%= f.date_field :end_date %>
    </p>
    <p>
      <%= f.label :'Precio' %></br>
      <%= f.text_field :price %>

    </p>
    <p>

    <%=f.label :'Cliente' %></br>

    <%= f.collection_select :customer_id, Customer.all, :id, :select_client , class: "class-bootstrap" %>
    <%= link_to 'Crear Cliente', new_customer_path(@cabin), remote: true , :class  => 'btn btn-info' %>
    <%=f.submit :'Crear Reserva', :class  => 'btn btn-info' %>

  <% end %>
</div>
