<div class="container">
  <%= form_for(@reservation, url: new_reservation_path, html: { role: "form" }) do |f| %>
    <p>
      <%=f.label :start_date  %>
      <%= select_date Date.today, prefix: :start_date %>
    </p>
    <p>
      <%=f.label :end_date %>
      <%= select_date Date.today, prefix: :end_date %>
    </p>
    <p>
      <%= f.collection_select :customer, Customer.all, :id, :first_name , class: "class-bootstrap" %>
    </p>

    <%=f.submit %>
    <%= link_to 'Crear Cliente', new_customer_path, remote: true , :class  => 'btn btn-info' %>
  <% end %>
</div>