<div class="container">
  <h>Nombre</h>
  <p><%= @reservation.customer.first_name + " " + @reservation.customer.last_name %></p>
  <h>Rut</h>
  <p><%= @reservation.customer.rut %></p>
  <h>Fecha de Inicio</h>
  <p><%= @reservation.start_date %> </p>
  <h> Fecha de Termino</h>
  <p><%= @reservation.end_date %></p>
  <h>Estado</h>
  <p><%= @reservation.state %></p>

  <p><%= link_to 'Actualizar', edit_cabin_reservation_path(@cabin,@reservation), remote: true ,:class => 'btn btn-info'  %></p>
