<div class="container">
  <h1>Productos</h1>
  <td><%= link_to 'Agregar', new_cabin_product_path(@cabin), remote: true, :class => 'btn btn-primary' %></td>
  <table class="table table-bordered">
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity %></td>
        <td><%= product.price %> </td>
        <td><%= link_to 'Editar', edit_cabin_product_path(@cabin ,product) , remote: true ,  :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Borrar', cabin_product_path(@cabin, product), :class => 'btn btn-danger',
                        method: :delete,
                        data: {confirm: '¿Estás seguro?'} %></td>

      </tr>
    <% end %>
  </table>

  <h1>Servicios</h1>
  <td><%= link_to 'Agregar', new_cabin_service_path(@cabin), remote: true, :class => 'btn btn-primary' %></td>
  <table class="table table-bordered">
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>

    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.quantity %></td>
        <td><%= service.value %></td>
        <td><%= link_to 'Editar', edit_cabin_service_path(@cabin ,service) , remote: true ,  :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Borrar', cabin_service_path(@cabin, service), :class => 'btn btn-danger',
                        method: :delete,
                        data: {confirm: '¿Estás seguro?'} %></td>

      </tr>
    <% end %>
  </table>

  <h1>Bicicletas</h1>
  <td><%= link_to 'Agregar', new_cabin_bicycle_path(@cabin), remote: true, :class => 'btn btn-primary' %></td>
  <table class="table table-bordered">
    <tr>
      <th>Modelo</th>
      <th>Aro</th>
      <th>Tipo</th>
      <th>Precio</th>
    </tr>

    <% @bicycles.each do |bicycle| %>
      <tr>
        <td><%= bicycle.model %></td>
        <td><%= bicycle.ring_size %></td>
        <td><%= bicycle.tipo %></td>
        <td><%= bicycle.value %> </td>
        <td><%= link_to 'Editar', edit_cabin_bicycle_path(@cabin ,bicycle) , remote: true ,  :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Borrar', cabin_bicycle_path(@cabin, bicycle), :class => 'btn btn-danger',
                        method: :delete,
                        data: {confirm: '¿Estás seguro?'} %></td>

      </tr>
    <% end %>
  </table>

</div>

