<h1>Products#show</h1>
<div class="container">
      <p> <%= @product.model %> </p>
      <p> <%= @product.ring_size %> </p>
      <p> <%= @product.type %> </p>
      <p> <%= @product.value%> </p>
      <%= link_to 'volver', products_path %>
</div>